body.x-1.y-0 .skew,
body.x-3.y-4 .skew,
body.x-0.y-1 .skew,
body.x-4.y-3 .skew{
	transform: skew(10deg) translate(0.05rem);
}

body.x-0.y-0 .skew,
body.x-4.y-4 .skew{
	transform: skew(20deg) translate(0.1rem);
}

body.x-1.y-1 .skew,
body.x-3.y-3 .skew{
	transform: skew(5deg) translate(0.025rem);
}

.rec{
	transform: skew(10deg) translate(0.25rem);
}

.ital{
	transform: skew(-10deg) translate(-0.25rem);	
}

body.x-3.y-1 .skew,
body.x-1.y-3 .skew{
	transform: skew(-5deg) translate(-0.025rem);
}

body.x-0.y-3 .skew,
body.x-3.y-0 .skew,
body.x-4.y-1 .skew,
body.x-1.y-4 .skew{
	display: inline-block;
	transform: skew(-10deg) translate(-0.05rem);
}

body.x-0.y-4 .skew,
body.x-4.y-0 .skew{
	transform: skew(-20deg) translate(-0.1rem);
}

.skew,
.ital,
.rec,
.pet{
	display: inline-block;
	transform-origin: center bottom;
}

.pet{
	transition: transform linear 0.1s;
}

/*color*/

/*top-left*/

body.x-0.y-0 .button,
body.x-0.y-0 .button:before,
body.x-0.y-0 .session_heading,
body.x-0.y-0 a,
body.x-1.y-0 .button,
body.x-1.y-0 .button:before,
body.x-1.y-0 .session_heading,
body.x-1.y-0 a,
body.x-0.y-1 .button,
body.x-0.y-1 .button:before,
body.x-0.y-1 .session_heading,
body.x-0.y-1 a,
body.x-1.y-1 .button,
body.x-1.y-1 .button:before,
body.x-1.y-1 .session_heading,
body.x-1.y-1 a{
	border-color: #f00;
}


/*top-center*/

body.x-2.y-0 .button,
body.x-2.y-0 .button:before,
body.x-2.y-0 .session_heading,
body.x-2.y-0 a,
body.x-2.y-1 .button,
body.x-2.y-1 .button:before,
body.x-2.y-1 .session_heading,
body.x-2.y-1 a{
	border-color: #f0f;
}


/*top-right*/

body.x-3.y-0 .button,
body.x-3.y-0 .button:before,
body.x-3.y-0 .session_heading,
body.x-3.y-0 a,
body.x-4.y-0 .button,
body.x-4.y-0 .button:before,
body.x-4.y-0 .session_heading,
body.x-4.y-0 a,
body.x-3.y-1 .button,
body.x-3.y-1 .button:before,
body.x-3.y-1 .session_heading,
body.x-3.y-1 a,
body.x-4.y-1 .button,
body.x-4.y-1 .button:before,
body.x-4.y-1 .session_heading,
body.x-4.y-1 a{
	border-color: #2500ff;
}


/*center-left*/

body.x-0.y-2 .button,
body.x-0.y-2 .button:before,
body.x-0.y-2 .session_heading,
body.x-0.y-2 a,
body.x-1.y-2 .button,
body.x-1.y-2 .button:before,
body.x-1.y-2 .session_heading,
body.x-1.y-2 a{
	border-color: #ff6600;
}


/*center-right*/

body.x-3.y-2 .button,
body.x-3.y-2 .button:before,
body.x-3.y-2 .session_heading,
body.x-3.y-2 a,
body.x-4.y-2 .button,
body.x-4.y-2 .button:before,
body.x-4.y-2 .session_heading,
body.x-4.y-2 a{
	border-color: #004fff;
}



/*bottom-left*/

body.x-0.y-3 .button,
body.x-0.y-3 .button:before,
body.x-0.y-3 .session_heading,
body.x-0.y-3 a,
body.x-1.y-3 .button,
body.x-1.y-3 .button:before,
body.x-1.y-3 .session_heading,
body.x-1.y-3 a,
body.x-0.y-4 .button,
body.x-0.y-4 .button:before,
body.x-0.y-4 .session_heading,
body.x-0.y-4 a,
body.x-1.y-4 .button,
body.x-1.y-4 .button:before,
body.x-1.y-4 .session_heading,
body.x-1.y-4 a{
	border-color: #b5ff00;
}


/*bottom-center*/

body.x-2.y-3 .button,
body.x-2.y-3 .button:before,
body.x-2.y-3 .session_heading,
body.x-2.y-3 a,
body.x-2.y-4 .button,
body.x-2.y-4 .button:before,
body.x-2.y-4 .session_heading,
body.x-2.y-4 a{
	border-color: #00ff00;
}



/*bottom-right*/

body.x-3.y-3 .button,
body.x-3.y-3 .button:before,
body.x-3.y-3 .session_heading,
body.x-3.y-3 a,
body.x-4.y-3 .button,
body.x-4.y-3 .button:before,
body.x-4.y-3 .session_heading,
body.x-4.y-3 a,
body.x-3.y-4 .button,
body.x-3.y-4 .button:before,
body.x-3.y-4 .session_heading,
body.x-3.y-4 a,
body.x-4.y-4 .button,
body.x-4.y-4 .button:before,
body.x-4.y-4 .session_heading,
body.x-4.y-4 a{
	border-color: #00ffcc;
}


/* Row 1*/

body.x-0.y-0 .button{
	transform: translate(-0.4rem, -0.4rem);
}
body.x-1.y-0 .button{
	transform: translate(-0.2rem, -0.4rem);
}
body.x-2.y-0 .button{
	transform: translate(0rem, -0.4rem);
}

body.x-3.y-0 .button{
	transform: translate(0.2rem, -0.4rem);
}
body.x-4.y-0 .button{
	transform: translate(0.4rem, -0.4rem);
}

body.x-0.y-0 .button:before{
	top: 0.8rem;
	left: 0.8rem
}
body.x-1.y-0 .button:before{
	top: 0.8rem;
	left: 0.4rem;
}
body.x-2.y-0 .button:before{
	top: 0.8rem;
	left: 0.0rem
}

body.x-3.y-0 .button:before{
	left: -0.4rem;
	top: 0.8rem;
}
body.x-4.y-0 .button:before{
	left: -0.8rem;
	top: 0.8rem;
}

/* Row 2 */

body.x-0.y-1 .button{
	transform: translate(-0.4rem, -0.2rem);
}
body.x-1.y-1 .button{
	transform: translate(-0.2rem, -0.2rem);
}
body.x-2.y-1 .button{
	transform: translate(0rem, -0.2rem);
}

body.x-3.y-1 .button{
	transform: translate(0.2rem, -0.2rem);
}
body.x-4.y-1 .button{
	transform: translate(0.4rem, -0.2rem);
}

body.x-0.y-1 .button:before{
	left: 0.8rem;
	top: 0.4rem;
}
body.x-1.y-1 .button:before{
	left: 0.4rem;
	top: 0.4rem;
}

body.x-2.y-1 .button:before{
	left: 0rem;
	top: 0.4rem;
}

body.x-3.y-1 .button:before{
	left: -0.4rem;
	top: 0.4rem;
}
body.x-4.y-1 .button:before{
	left: -0.8rem;
	top: 0.4rem;
}

/* Row 3 */


body.x-0.y-2 .button{
	transform: translate(-0.4rem, 0rem);
}
body.x-1.y-2 .button{
	transform: translate(-0.2rem, 0rem);
}
body.x-2.y-2 .button{
	transform: translate(0rem, 0rem);
}

body.x-3.y-2 .button{
	transform: translate(0.2rem, 0rem);
}
body.x-4.y-2 .button{
	transform: translate(0.4rem, 0rem);
}

body.x-0.y-2 .button:before{
	left: 0.8rem;
	top: 0rem;
}
body.x-1.y-2 .button:before{
	left: 0.4rem;
	top: 0rem;
}

body.x-2.y-2 .button:before{
	left: 0rem;
	top: 0rem;
}

body.x-3.y-2 .button:before{
	left: -0.4rem;
	top: 0rem;
}
body.x-4.y-2 .button:before{
	left: -0.8rem;
	top: 0rem;
}

/* Row 4 */

body.x-0.y-3 .button{
	transform: translate(-0.4rem, 0.2rem);
}
body.x-1.y-3 .button{
	transform: translate(-0.2rem, 0.2rem);
}
body.x-2.y-3 .button{
	transform: translate(0rem, 0.2rem);
}

body.x-3.y-3 .button{
	transform: translate(0.2rem, 0.2rem);
}
body.x-4.y-3 .button{
	transform: translate(0.4rem, 0.2rem);
}

body.x-0.y-3 .button:before{
	left: 0.8rem;
	top: -0.4rem;
}
body.x-1.y-3 .button:before{
	left: 0.4rem;
	top: -0.4rem;
}
body.x-2.y-3 .button:before{
	left: 0rem;
	top: -0.4rem;
}

body.x-3.y-3 .button:before{
	left: -0.4rem;
	top: -0.4rem;
}
body.x-4.y-3 .button:before{
	left: -0.8rem;
	top: -0.4rem;
}

/* Row 5 */

body.x-0.y-4 .button{
	transform: translate(-0.4rem, 0.4rem);
}
body.x-1.y-4 .button{
	transform: translate(-0.2rem, 0.4rem);
}
body.x-2.y-4 .button{
	transform: translate(0rem, 0.4rem);
}

body.x-3.y-4 .button{
	transform: translate(0.2rem, 0.4rem);
}
body.x-4.y-4 .button{
	transform: translate(0.4rem, 0.4rem);
}

body.x-0.y-4 .button:before{
	left: 0.8rem;
	top: -0.8rem;
}
body.x-1.y-4 .button:before{
	left: 0.4rem;
	top: -0.8rem;
}
body.x-2.y-4 .button:before{
	left: 0rem;
	top: -0.8rem;
}

body.x-3.y-4 .button:before{
	left: -0.4rem;
	top: -0.8rem;
}
body.x-4.y-4 .button:before{
	left: -0.8rem;
	top: -0.8rem;
}