.video{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	background: lightgray;
	object-fit: none;
	width: 40vw;
	height: 22.5vw;
	border-radius: .2em;
	box-shadow: .2em .2em 1rem lightgray, -.2em -.2em 1rem lightgray;
	transition: all .2s ease-in;
	mix-blend-mode: color-burn;
}

.video.cornered{
	top: 100%;
	left: 100vw;
	transform: translate(calc(-100% - 1rem), calc(-100% - 1rem)) scale(.5);
	transform-origin: bottom right;
}

@media (max-width: 1100px){
	.video,
	.video.cornered{
		width: 30rem;
		height: auto;
		position: static;
		display: block;
		transform:  none;
		margin: 0 auto 2rem auto;
	}
}

@media (max-width: 767px){
	.video,
	.video.cornered{
		width: calc(100% - 2rem);
	}
}